/*	a module of css3 ,for use the self-defined web-fonts in webpage*/
@font-face{
	font-family: "Raphaelicons";
	src:url('../fonts/raphaelicons-webfont.eot') format('eot'), url('../fonts/raphaelicons-webfont.svg') format('svg'), url('../fonts/raphaelicons-webfont.ttf') format('ttf'), url('../fonts/raphaelicons-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body{
	color: #fff;
	min-width: 100%;
	height:800px;
	font-family: georgia,serif;
	overflow: hidden;
	background-image: url(../img/bg02.jpg);
	background-color: #333;
	background-size: 100% 100%;
	font-size: 15px;
	-webkit-font-smoothing:antialiased;
	background-attachment: fixed;
	background-repeat:no-repeat;
	/*background-size: cover;*/
	/*background-position: center center;*/

}
.clear{
	content: '';
	clear: both;
}
header{
	margin: 0px;
	padding: 10px;
	min-height: 10px;
}
#header nav{
	
}
.navbar-header a img{
	margin-top: -15px;
	max-width: 50px;
	max-height: 50px;
}
 #main-wrapper{
	position: relative;
	margin-top: 10px;
	width: 100%;	
	/*background-image: url(../img/bg02.jpg);*/
} 

#clock{
	width: 50%;
	height: 100%;
	margin-left: 20px;
	margin-top: 20px;
}
#logo{

	text-decoration: none;
	color:#fee;
}

#logo img{
	width: 100px;
	height: 100px;
}
#main-signIn{
	/*color: #111;*/
	font-size: 10px;
	font-family: Arial;
	line-height: 1.2em;
	letter-spacing: 1px;
	position: absolute;
	width:30%;
	top: 90px;
	right: 160px;
}

#main-signIn .our-photo{
	width: 100%;
	margin: 0 auto;	
}
#main-signIn .our-photo img{
	/*max-width: 510px;*/
	/*max-height: 400px;*/
	display: block;
	margin: 0 auto;
	width: 80%;
	height: inherit;

}
#main-signIn form{
	display: block;
	margin: 0 auto;

	width: 80%;
}

#main-signIn form button{
	width:100%;
}
