.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
header{
	background: rgba(0,0,0,0.2);
}
ul{
	margin: 0px;
}
nav{
	position: fixed;
	top: 0px;
	background: transparent;
	height: 50px;
}

#banner{
	background:rgba(0,0,0,0.1);
	height: 700px;
}

nav ul{
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li, nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	padding: 10px;
}

nav ul li a{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

nav ul li.logo{
	float: left;
}
#banner .inner{
	position: relative;
	top: 160px;
	max-width: 320px;
	text-align: center;
	margin: 0px auto
}

#banner .inner h1{
	margin: 0px;
}

button{
	border: none;
	background: #333;
	color: #eee;
	padding:14px 40px;
}

#banner .inner .more{
	margin-top: 280px;
}

#banner button{
	padding: 14px 60px;
}
.sub-heading{
	line-height: 30px;
	margin: 30px 0px;

}

/* 页头 */
.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	
}

.logo a{
	color: #fff;
}

h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
p{
	font-size: 18px;
	letter-spacing: 1px;
}
.green-section{
	color: #fff;
	background:#089DB0 ;
	text-align: center;
}

.wrapper{
	max-width: 1080px;
	margin: 0px auto;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}

.green-section .hr{
	background: #098e9f;
	width: 60%;
}

.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	/* background: #b30e0e; */
	border: 1px solid #b30e0e;
	transform: rotate(45deg);
	margin: 20px;
}

.icon-group{
	margin-top: 60px;
}

.gray-section{
	background: #333;
	color: #fff;
}

.gray-section .img-section{
	width: 45%;
}
.img-section img{
	width: 100%;
}

.gray-section .text-section{
	width: 55%;
}
.article-preview:nth-child(odd){
	background: rgba(255,255,255,0.05);
}

.article-preview >div{
	float: left;
	font-size: 0px;
}

.article-preview:after
{
	content:'';
	display: block;
	clear: both;
}

.text-section{
	position: relative;
	top:68px; 
	left:50px;
}
.text-section h2{
	margin-bottom: 20px;
}
.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}

.text-section .sub-heading{
	font-size: 22px;
	margin-top: 0px;
}

.purple-section{
	padding: 80px;
	background: #2046fe;
	padding: 80px;
	color: #fff;
}

.purple-section .heading-wrapper{
	text-align: center;
}
.heading-wrapper hr{
	background: #000;
	width: 60%;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	-webkit-box-sizing:boder-box;
	-moz-box-sizing:boder-box;
	box-sizing: border-box;
	border: 1px solid white;
	
}
.card:first-child{
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background: rgba(0,0,0,-0.76);
}

footer{
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}
ul.share-group{
	display: block;
	width: 100%;
	margin: 0px auto;
	padding: 50px;
}

.share-group li{
	display: inline-block;
	padding: 10px;
}

.copy{
	padding-bottom: 20px;
	text-align: center;
}

.main-wrapper{
	background: #444 url(./img/bg01.jpg);
	background-attachment: fixed;
	background: no-repeat;
	background-size: cover;
	background-position: center center;
}